In [1]:
import os
import sqlite3

## **create database**

In [2]:
my_db = './test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    print('Database exist...')
else:
    print('Database doesnot exists, create a new database.')
    
conn.close()

Database doesnot exists, create a new database.

## **create table**

In [7]:
query = '''CREATE TABLE person (
    id        INTEGER PRIMARY KEY,
    firstname TEXT,
    lastname  TEXT,
    age       INTEGER
)'''

In [8]:
my_db ='./test.db'
db_exist = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute(query)
    conn.commit()
    print("Person table created successfully ..")
else:
    print("Database doesnot exists, create a new database.")
conn.close()

Person table created successfully ..

## **insert data in table**

In [9]:
person_list = [
    (1, "Martha", "Lucy", 45),
    (2, "John", "Bronze", 70),
    (3, "Noah", "Charlotte", 20),
    (4, "Henry", "Sophia", 55),
    (5, "John", "Sophia", 45)
]

In [10]:
my_db = './test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.executemany("INSERT INTO person VALUES (?, ?, ?, ?)", person_list)
    conn.commit()
    print("Record inserted succesfully ...")
else:
    print("Database doesnot exists, create a new database.")
conn.close()

Record inserted succesfully ...

## **View records by order**

In [12]:
my_db = './test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("SELECT * FROM person ORDER BY firstname")
    records = cur.fetchall()
    print("Fetching All records from person table and order by firstname")
    print("\n", records)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching All records from person table and order by firstname

 [(4, 'Henry', 'Sophia', 55), (2, 'John', 'Bronze', 70), (5, 'John', 'Sophia', 45), (1, 'Martha', 'Lucy', 45), (3, 'Noah', 'Charlotte', 20)]

## **Fetch only one record**

In [14]:
my_db ='./test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("SELECT * FROM person")
    record = cur.fetchone()
    print("Fetching only one record from person table")
    print("\n", record)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching only one record from person table

 (1, 'Martha', 'Lucy', 45)

## **Retrieve records by named style**

In [16]:
my_db ='./test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("SELECT * FROM person WHERE firstname=:firstname ORDER BY age", {"firstname":"John"})
    records = cur.fetchall()
    print("Fetching all records from person table, whose firstname is John and order by age")
    print("\n", records)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching all records from person table, whose firstname is John and order by age

 [(5, 'John', 'Sophia', 45), (2, 'John', 'Bronze', 70)]

## **Retrieve records by positional parameters**

In [18]:
my_db ='./test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("SELECT * FROM person WHERE firstname = ? ORDER BY age", ("John",))
    records = cur.fetchall()
    print("Fetching all records from person table, whose firstname is John and order by age")
    print("\n", records)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching all records from person table, whose firstname is John and order by age

 [(5, 'John', 'Sophia', 45), (2, 'John', 'Bronze', 70)]

## **Retrieve records by like**

In [19]:
my_db ='./test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("SELECT * FROM person WHERE firstname like '%J%'")
    records = cur.fetchall()
    print("Fetching all records from person table, whose firstname starts with J")
    print("\n", records)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching all records from person table, whose firstname starts with J

 [(2, 'John', 'Bronze', 70), (5, 'John', 'Sophia', 45)]

## **Update record**

In [20]:
my_db ='./test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("UPDATE person SET firstname = ?, lastname = ?, age = ? WHERE id = ?", ('Maria', 'Lucy', 55, 1,))
    conn.commit()
    
    cur.execute("SELECT * FROM person")
    records = cur.fetchall()
    
    print("Fetching all records from person table after update")
    print("\n", records)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching all records from person table after update

 [(1, 'Maria', 'Lucy', 55), (2, 'John', 'Bronze', 70), (3, 'Noah', 'Charlotte', 20), (4, 'Henry', 'Sophia', 55), (5, 'John', 'Sophia', 45)]

In [ ]:
## **Delete Record**

In [21]:
my_db ='./test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("DELETE FROM person WHERE id = ?",(5,))
    conn.commit()
    
    cur.execute("SELECT * FROM person")
    records = cur.fetchall()
    
    print("Fetching all records from person table after delete")
    print("\n", records)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching all records from person table after delete

 [(1, 'Maria', 'Lucy', 55), (2, 'John', 'Bronze', 70), (3, 'Noah', 'Charlotte', 20), (4, 'Henry', 'Sophia', 55)]

## **Execute multiple SQL statement**

In [27]:
my_db = './test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)

if db_exists:
    cur = conn.cursor()
    
    cur.executescript("""
    CREATE TABLE book(
        title,
        author,
        published
    );
    
    INSERT INTO book(title, author, published)
    values(
        'Dirk Gently''s Hplistic Detective Agency',
        'Douglas Adams',
        1987
    );
    
    INSERT INTO book(title, author, published)
    values(
        'Joe Biden: American Dreamer',
        'Evan Osnos',
        2021
    );

    INSERT INTO book(title, author, published)
    values(
        'Artificial Intelegence and the Future of Power: 5 battlegrounds',
        'Rajiv malhotra',
        2021
    );

    """)
else:
    print("Database doesnot exists, create a new database.")
    
conn.close()

In [28]:
my_db = './test.db'
db_exists = os.path.exists(my_db)
conn = sqlite3.connect(my_db)
if db_exists:
    cur = conn.cursor()
    cur.execute("SELECT * FROM book")
    records = cur.fetchall()
    print("Fetching all records from book")
    print("\n", records)
else:
    print("Database doesnot exists, create a new database")
    
conn.close()

Fetching all records from book

 [("Dirk Gently's Hplistic Detective Agency", 'Douglas Adams', 1987), ('Joe Biden: American Dreamer', 'Evan Osnos', 2021), ('Artificial Intelegence and the Future of Power: 5 battlegrounds', 'Rajiv malhotra', 2021)]